<section id="faq" aria-label="سوالات متداول" class="section_faq">
    <div class="max-width">
        <div class="faq_box">
            <div class="faq_heading-wrapper">
                <h2 class="heading-section">سوالات متداول</h2>
                <p data-kashida class="opacity-50">ما به برخی سوالات رایج شما پاسخ داده ایم. درصورتی که پاسخی برای سوال خود پیدا
                    نکردید میتوانید با ما درتماس باشید.</p><a href="#process" class="button w-button">تماس با ما</a>
            </div>
            <div class="faq_list">
                <div itemtype="https://schema.org/Question" itemscope="" role="button" tabindex="0" class="faq_item">
                    <div class="faq-spacer-1-5rem"></div>
                    <div>
                        <div itemprop="name" class="faq_question-group">
                            <div class="icon-24 is-gray"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                    viewBox="0 0 24 24" fill="none">
                                    <path
                                        d="M6 11.75H18C18.1339 11.75 18.25 11.8661 18.25 12C18.25 12.1339 18.1339 12.25 18 12.25H6C5.86614 12.25 5.75 12.1339 5.75 12C5.75 11.8661 5.86614 11.75 6 11.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                    <path
                                        d="M12 5.75C12.1339 5.75 12.25 5.86614 12.25 6V18C12.25 18.1339 12.1339 18.25 12 18.25C11.8661 18.25 11.75 18.1339 11.75 18V6C11.75 5.86614 11.8661 5.75 12 5.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                </svg></div>
                            <p itemprop="name" class="faq_question-text">ونکسی چه خدماتی ارائه می‌دهد؟</p>
                        </div>
                    </div>
                    <div itemtype="https://schema.org/Answer" role="region" itemprop="acceptedAnswer" itemscope=""
                        class="faq_answer is-hide">
                        <div class="faq-spacer-1-25rem"></div>
                        <p data-kashida itemprop="text">ونکسی خدمات حمل‌ونقل سازمانی شامل سرویس پرسنل، سفر در اختیار، ترانسفر
                            فرودگاهی و سفرهای بین‌شهری را با ناوگان باکیفیت و رانندگان آموزش‌دیده ارائه می‌کند.</p>
                    </div>
                    <div class="faq-spacer-1-5rem"></div>
                </div>
                <div itemtype="https://schema.org/Question" itemscope="" role="button" tabindex="0" class="faq_item">
                    <div class="faq-spacer-1-5rem"></div>
                    <div>
                        <div itemprop="name" class="faq_question-group">
                            <div class="icon-24 is-gray"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                    viewBox="0 0 24 24" fill="none">
                                    <path
                                        d="M6 11.75H18C18.1339 11.75 18.25 11.8661 18.25 12C18.25 12.1339 18.1339 12.25 18 12.25H6C5.86614 12.25 5.75 12.1339 5.75 12C5.75 11.8661 5.86614 11.75 6 11.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                    <path
                                        d="M12 5.75C12.1339 5.75 12.25 5.86614 12.25 6V18C12.25 18.1339 12.1339 18.25 12 18.25C11.8661 18.25 11.75 18.1339 11.75 18V6C11.75 5.86614 11.8661 5.75 12 5.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                </svg></div>
                            <p itemprop="name" class="faq_question-text">سرویس پرسنل چگونه کار می‌کند؟</p>
                        </div>
                    </div>
                    <div itemtype="https://schema.org/Answer" role="region" itemprop="acceptedAnswer" itemscope=""
                        class="faq_answer is-hide">
                        <div class="faq-spacer-1-25rem"></div>
                        <p data-kashida itemprop="text">پس از مشاوره رایگان، مسیرها و شیفت‌های کارکنان شما طراحی می‌شود و سرویس
                            به‌صورت منظم طبق برنامه سازمانی اجرا و پایش می‌گردد تا زمان رسیدن و هزینه شفاف بماند.</p>
                    </div>
                    <div class="faq-spacer-1-5rem"></div>
                </div>
                <div itemtype="https://schema.org/Question" itemscope="" role="button" tabindex="0" class="faq_item">
                    <div class="faq-spacer-1-5rem"></div>
                    <div>
                        <div itemprop="name" class="faq_question-group">
                            <div class="icon-24 is-gray"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                    viewBox="0 0 24 24" fill="none">
                                    <path
                                        d="M6 11.75H18C18.1339 11.75 18.25 11.8661 18.25 12C18.25 12.1339 18.1339 12.25 18 12.25H6C5.86614 12.25 5.75 12.1339 5.75 12C5.75 11.8661 5.86614 11.75 6 11.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                    <path
                                        d="M12 5.75C12.1339 5.75 12.25 5.86614 12.25 6V18C12.25 18.1339 12.1339 18.25 12 18.25C11.8661 18.25 11.75 18.1339 11.75 18V6C11.75 5.86614 11.8661 5.75 12 5.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                </svg></div>
                            <p itemprop="name" class="faq_question-text">آیا ترانسفر فرودگاهی و سفر بین‌شهری دارید؟</p>
                        </div>
                    </div>
                    <div itemtype="https://schema.org/Answer" role="region" itemprop="acceptedAnswer" itemscope=""
                        class="faq_answer is-hide">
                        <div class="faq-spacer-1-25rem"></div>
                        <p data-kashida itemprop="text">بله. ونکسی ترانسفر فرودگاهی برای مهمانان و مدیران سازمان و همچنین سفرهای
                            بین‌شهری برنامه‌ریزی‌شده را با هماهنگی زمان پرواز یا جلسه شما پوشش می‌دهد.</p>
                    </div>
                    <div class="faq-spacer-1-5rem"></div>
                </div>
                <div itemtype="https://schema.org/Question" itemscope="" role="button" tabindex="0" class="faq_item">
                    <div class="faq-spacer-1-5rem"></div>
                    <div>
                        <div itemprop="name" class="faq_question-group">
                            <div class="icon-24 is-gray"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                    viewBox="0 0 24 24" fill="none">
                                    <path
                                        d="M6 11.75H18C18.1339 11.75 18.25 11.8661 18.25 12C18.25 12.1339 18.1339 12.25 18 12.25H6C5.86614 12.25 5.75 12.1339 5.75 12C5.75 11.8661 5.86614 11.75 6 11.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                    <path
                                        d="M12 5.75C12.1339 5.75 12.25 5.86614 12.25 6V18C12.25 18.1339 12.1339 18.25 12 18.25C11.8661 18.25 11.75 18.1339 11.75 18V6C11.75 5.86614 11.8661 5.75 12 5.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                </svg></div>
                            <p itemprop="name" class="faq_question-text">هزینه خدمات چگونه محاسبه می‌شود؟</p>
                        </div>
                    </div>
                    <div itemtype="https://schema.org/Answer" role="region" itemprop="acceptedAnswer" itemscope=""
                        class="faq_answer is-hide">
                        <div class="faq-spacer-1-25rem"></div>
                        <p data-kashida itemprop="text">هزینه بر اساس نوع سرویس، تعداد مسیرها، حجم تردد و سطح ناوگان محاسبه می‌شود.
                            هدف ونکسی ارائه مدل شفاف و قابل پیش‌بینی برای بودجه‌بندی سازمانی است.</p>
                    </div>
                    <div class="faq-spacer-1-5rem"></div>
                </div>
                <div itemtype="https://schema.org/Question" itemscope="" role="button" tabindex="0" class="faq_item">
                    <div class="faq-spacer-1-5rem"></div>
                    <div>
                        <div itemprop="name" class="faq_question-group">
                            <div class="icon-24 is-gray"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                    viewBox="0 0 24 24" fill="none">
                                    <path
                                        d="M6 11.75H18C18.1339 11.75 18.25 11.8661 18.25 12C18.25 12.1339 18.1339 12.25 18 12.25H6C5.86614 12.25 5.75 12.1339 5.75 12C5.75 11.8661 5.86614 11.75 6 11.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                    <path
                                        d="M12 5.75C12.1339 5.75 12.25 5.86614 12.25 6V18C12.25 18.1339 12.1339 18.25 12 18.25C11.8661 18.25 11.75 18.1339 11.75 18V6C11.75 5.86614 11.8661 5.75 12 5.75Z"
                                        fill="currentColor" stroke="currentColor"></path>
                                </svg></div>
                            <p itemprop="name" class="faq_question-text">چطور می‌توانم مشاوره رایگان بگیرم؟</p>
                        </div>
                    </div>
                    <div itemtype="https://schema.org/Answer" role="region" itemprop="acceptedAnswer" itemscope=""
                        class="faq_answer is-hide">
                        <div class="faq-spacer-1-25rem"></div>
                        <p data-kashida itemprop="text">از طریق دکمه «مشاوره رایگان» یا «تماس با ما» در سایت درخواست خود را ثبت کنید
                            تا تیم ونکسی نیازهای سازمان شما را بررسی و بهترین سرویس را پیشنهاد دهد.</p>
                    </div>
                    <div class="faq-spacer-1-5rem"></div>
                </div>
            </div>
        </div>
    </div>
</section>