<section id="hero" aria-label="معرفی ونکسی" class="section_hero">
    <div class="max-width">
        <div class="hero_content-wrap">
            <h1 class="hero_title"><span class="hero-highlight">ونکسی،</span> شریک استراتژیک شما در حمل‌و‌نقل</h1>
            <div class="hero_content">
                <p class="hero_desc text-large">ما مسئولیت حمل‌ونقل کارکنان شما را به‌طور کامل بر عهده می‌گیریم تا شما
                    روی بیزینس اصلی‌تان تمرکز کنید.</p>
                <div class="hero_btn-group"><a href="#process" class="button w-button">مشاوره رایگان</a><a
                        href="#services" class="button is-secondary w-button">مشاهده پلن ها</a></div>
            </div>
        </div>
    </div>
</section>