<section id="pharma" class="section_pharma">
    <h2 class="pharma_heading">ونکسی <span class="pharma_highlight">شریک لجستیک</span> بزرگترین برندهای دارویی ایران</h2>
    <div class="max-width">
      <div class="w-layout-grid grid">
        <div class="phrama_img-wrapper">
          <img
            src="/assets/images/6a8aa5b7792d6b0860fd413e_pharma2.png"
            srcset="/assets/images/6a8aa5b7792d6b0860fd413e_pharma2-p-500.png 500w, /assets/images/6a8aa5b7792d6b0860fd413e_pharma2.png 800w"
            sizes="(max-width: 991px) 100vw, 42vw"
            alt="نماینده علمی دارویی در حال ویزیت"
            class="pharma_img"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="pharma_content">
          <p data-kashida>ایران در میان ۱۵ کشور برتر تولیدکننده دارو در سراسر جهان است. معرفی، فروش و توزیع داروها و محصولات بهداشتی درمانی تا حد زیادی منوط به تلاش و کوشش نمایندگان علمی و بازاریابی شرکت‌های بزرگ دارویی است.</p>
          <p data-kashida>ونکسی سال‌هاست که افتخار دارد با ارائه خدمات قابل اعتماد و با کیفیت، راه را برای پرسنل شرکت‌های دارویی هموارتر کرده است تا بتوانند دسترسی میلیون‌ها ایرانی را به برترین محصولات دارویی و درمانی روز فراهم کنند.</p>
          <p data-kashida>پرسنل دارویی گاه حتی بیش از ۱۵ ساعت در هفته را در مأموریت می‌گذرانند. اینجاست که اهمیت خودرو و راننده این پرسنل بسیار پررنگ می‌شود.</p>
          <p data-kashida>دمای مطبوع، پاکیزگی، بوی خوش، زیبایی و نظم خودرو الزامات هستند که آسایش این عزیزان را تضمین می‌کنند. رانندگان ونکسی می‌آموزند که دستیار مسافران ثابت خود باشند. مسیرها، داروخانه‌ها، مراکز درمانی و مطب‌ها را به خوبی می‌شناسند و با استفاده از فناوری‌های ونکسی بهترین مسیرها را برای ویزیت‌ها می‌یابند و اجرا می‌کنند.</p>
        </div>
      </div>
    </div>
  </section>
