<section id="process" aria-label="فرایند همکاری" class="section_process">
    <div class="max-width">
      <div class="process_long">
        <div class="process_wrapper">
          <div class="process_box">
            <h2 class="process_heading">فرایند همکاری با ونکسی</h2>
            <div class="process_center">
              <div class="process_steps-track">
                <div class="spacer-12rem"></div>
                <div class="process_step-wrapper">
                  <div class="process_step-top">
                    <div class="process_num-wrapper">
                      <div class="process_number">۰۱</div>
                      <div class="process_num-fade"></div>
                    </div>
                    <h3 class="process_step-title">مشاوره رایگان</h3>
                  </div>
                  <p data-kashida class="process_step-desc">کافـــی اســـت اطلاعـــات خــود را در فــرم درخواســت
                                        مشــاوره ثبــت کنـیــد.  ارشـناسـان مـا در اسرع وقت با شما تماس خواهـند گرفت و
                                        اطلاعات لازم را با شما به اشتراک خواهـند گذاشت.</p>
                  <a href="#process"
                                        class="button w-button">درخواست مشاوره رایگان</a>
                </div>
                <div class="spacer-12rem"></div>
                <div class="process_step-wrapper">
                  <div class="process_step-top">
                    <div class="process_num-wrapper">
                      <div class="process_number">۰۲</div>
                      <div class="process_num-fade"></div>
                    </div>
                    <h3 class="process_step-title">انتخاب سرویس</h3>
                  </div>
                  <p data-kashida class="process_step-desc">کافـــی اســـت اطلاعـــات خــود را در فــرم درخواســت
                                        مشــاوره ثبــت کنـیــد.  ارشـناسـان مـا در اسرع وقت با شما تماس خواهـند گرفت و
                                        اطلاعات لازم را با شما به اشتراک خواهـند گذاشت.</p>
                  <a href="#process"
                                        class="button w-button">درخواست مشاوره رایگان</a>
                </div>
                <div class="spacer-12rem"></div>
                <div class="process_step-wrapper">
                  <div class="process_step-top">
                    <div class="process_num-wrapper">
                      <div class="process_number">۰۳</div>
                      <div class="process_num-fade"></div>
                    </div>
                    <h3 class="process_step-title">دریافت خدمات</h3>
                  </div>
                  <p data-kashida class="process_step-desc">کافـــی اســـت اطلاعـــات خــود را در فــرم درخواســت
                                        مشــاوره ثبــت کنـیــد.  ارشـناسـان مـا در اسرع وقت با شما تماس خواهـند گرفت و
                                        اطلاعات لازم را با شما به اشتراک خواهـند گذاشت.</p>
                  <a href="#process"
                                        class="button w-button">درخواست مشاوره رایگان</a>
                </div>
              </div>
            </div>
          </div>
          <div class="process_stat">
            <div class="process_stat_item">
              <div class="process_stat_content">
                <p class="process_stat_num">+۴۰۰</p>
                <p class="text-small opacity-50">سازمان تحت پوشش</p>
              </div>
              <img src="/assets/images/6a6db0344adc3d0665278561_process-stat03.avif" loading="lazy"
                                alt="" class="process_stat_img" />
            </div>
            <div class="process_stat_line"></div>
            <div class="process_stat_item">
              <div class="process_stat_content">
                <p class="process_stat_num">+۶٫۵۰۰</p>
                <p class="text-small opacity-50">سرویس در ماه</p>
              </div>
              <img src="/assets/images/6a6db034d6c1be489f077e8f_process-stat02.avif" loading="lazy"
                                alt="" class="process_stat_img" />
            </div>
            <div class="process_stat_line"></div>
            <div class="process_stat_item">
              <div class="process_stat_content">
                <p class="process_stat_num">+۲۸۰</p>
                <p class="text-small opacity-50">راننده آموزش دیده</p>
              </div>
              <img src="/assets/images/6a6db0343ea75e4ffd0c752a_process-stat01.avif" loading="lazy"
                                alt="" class="process_stat_img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
