<section id="stories" aria-label="داستان مشتریان" class="section_story">
    <h2 class="stories_heading">موفقیت را از زبان مشتریان ونکسی بشنوید!</h2>
    <div class="w-layout-grid story_grid">
      <a data-wf--story-card--variant="featured" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟"
                class="story_item w-variant-d6f6e90e-c8f4-6771-8471-0581dea4a391 w-inline-block">
        <div class="story_content w-variant-d6f6e90e-c8f4-6771-8471-0581dea4a391">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa28fc171e8f289cfde_Lennar-Corporation.svg" loading="lazy" alt=""
                        class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/placeholder.svg" loading="lazy" alt="" class="story_image" />
          <h3 class="story_heading featured w-variant-d6f6e90e-c8f4-6771-8471-0581dea4a391">چطور ونکسی هزینه
                        های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/N8Q8jcexz64rZNo9PUK3.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
      <a data-wf--story-card--variant="base" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟" class="story_item w-inline-block">
        <div class="story_content">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa2d608e733108c89c6_Oracle.svg"
                        loading="lazy" alt="" class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/placeholder.svg" loading="lazy" alt="" class="story_image" />
          <h3 class="story_heading featured">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/wGob4nC7czDVkLm19wGC.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
      <a data-wf--story-card--variant="base" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟" class="story_item w-inline-block">
        <div class="story_content">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa28fc171e8f289cfde_Lennar-Corporation.svg" loading="lazy" alt=""
                        class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/placeholder.svg" loading="lazy" alt="" class="story_image" />
          <h3 class="story_heading featured">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/173DGp21WrgKvqoLzV7g.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
      <a data-wf--story-card--variant="base" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟" class="story_item w-inline-block">
        <div class="story_content">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa3cb3410da7167c2e8_Regeneron-Pharmaceuticals-Inc..svg" loading="lazy"
                        alt="" class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/placeholder.svg" loading="lazy" alt="" class="story_image" />
          <h3 class="story_heading featured">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/WA6Hxx2LeWwtzjahHwRP.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
      <a data-wf--story-card--variant="base" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟" class="story_item w-inline-block">
        <div class="story_content">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa2c6fa1a189ca0793b_Clip-path-group.svg" loading="lazy" alt=""
                        class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/6a7184ded98ce661968d82ff_menu-about.avif" loading="lazy"
                        alt="مدیران سازمانی کنار خودروی ونکسی"
                        class="story_image" />
          <h3 class="story_heading featured">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/wGob4nC7czDVkLm19wGC.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
      <a data-wf--story-card--variant="base" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟" class="story_item w-inline-block">
        <div class="story_content">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa2d608e733108c89c6_Oracle.svg"
                        loading="lazy" alt="" class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/6a706f20b45340347089ebce_commute.avif" loading="lazy"
                        alt="سفر در اختیار برای مدیران و مهمانان سازمان"
                        class="story_image" />
          <h3 class="story_heading featured">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/173DGp21WrgKvqoLzV7g.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
      <a data-wf--story-card--variant="base" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟" class="story_item w-inline-block">
        <div class="story_content">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa3cb3410da7167c2e8_Regeneron-Pharmaceuticals-Inc..svg" loading="lazy"
                        alt="" class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/6a706f200ad91bcb02e3e258_airport-transfer.avif" loading="lazy"
                        alt="ترانسفر فرودگاهی ونکسی برای مسافران سازمانی"
                        class="story_image" />
          <h3 class="story_heading featured">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/WA6Hxx2LeWwtzjahHwRP.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
      <a data-wf--story-card--variant="base" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟" class="story_item w-inline-block">
        <div class="story_content">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa3cb3410da7167c2e8_Regeneron-Pharmaceuticals-Inc..svg" loading="lazy"
                        alt="" class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/6a705ec0833fbb785385302d_road-trip.avif" loading="lazy"
                        alt="سفر بین‌شهری با خودروی ونکسی در مسیر کوهستانی"
                        class="story_image" />
          <h3 class="story_heading featured">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/WA6Hxx2LeWwtzjahHwRP.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
      <a data-wf--story-card--variant="base" href="#stories" aria-label="چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟" class="story_item w-inline-block">
        <div class="story_content">
          <div class="story_tag">تجربه مشتریان</div>
          <div class="story_gray-overlay"></div>
          <img src="/assets/images/6a6deaa3cb3410da7167c2e8_Regeneron-Pharmaceuticals-Inc..svg" loading="lazy"
                        alt="" class="story_logo" />
          <div data-video-urls="" data-autoplay="false" data-loop="true" data-wf-ignore="true"
                        class="story_video w-background-video w-background-video-atom">
            <video
                            width="640"
                            height="640"
                            preload="none" loop="" muted="" playsinline=""
                            data-wf-ignore="true" data-object-fit="cover"></video>
          </div>
          <img src="/assets/images/6a6ba3019788fb2728d17441_Prestige.avif" loading="lazy"
                        alt="سرویس پرسنل ونکسی برای مدیران سازمان"
                        class="story_image" />
          <h3 class="story_heading featured">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
          <p class="story_video-url">/assets/videos/WA6Hxx2LeWwtzjahHwRP.mp4</p>
        </div>
        <h3 class="story_heading">چطور ونکسی هزینه های کواستار را تا ۳۰٪ کاهش داده است؟</h3>
      </a>
    </div>
  </section>
